<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="limb_robot">

    <!-- Define a macro for the limb -->
    <xacro:macro name="limb" params="name base_frame r p y" >
        <!-- Base link -->
         

        <joint name="${name}_joint" type="fixed">
            <parent link="${base_frame}"/>
            <child link="${name}_base_limb_link"/>
            <origin xyz="0 0 0" rpy="${r} ${p} ${y}"/>
        </joint>

        <link name="${name}_base_limb_link">
            <visual>
            <origin xyz="0 0 0" rpy="${pi/2} ${pi} 0" />
                <geometry>
                    <mesh filename="package://urdf_tutorial/stl/limb_roll_resize.stl" scale="0.1 0.1 0.1"/> 
                </geometry>
                <material name="silver"/>
            </visual>
        </link>

        <joint name="${name}_joint_1" type="revolute">
            <parent link="${name}_base_limb_link"/>
            <child link="${name}_limb_link1"/>
            <origin xyz="0 0 0.05" rpy="0 0 0"/>
            <axis xyz="0 0 -1"/>
            <limit effort="10" lower="-1.57" upper="1.57" velocity="1.0"/>
        </joint>



        <!-- Link 1 -->
        <link name="${name}_limb_link1">
            <visual>
                <!-- <origin xyz="0 0 ${0.0875/2}" rpy="0 0 0"/> -->
                <origin xyz="0 0 0.0875" rpy="0 ${pi/2} ${pi/2}"/>
                <geometry>
                <mesh filename="package://urdf_tutorial/stl/limb_pitch_resize.stl" scale="0.001 0.001 0.001"/>   
                    <!-- <cylinder length="0.0875" radius="0.05"/> -->
                </geometry>
                <material name="white"/>
            </visual>
        </link>

        <!-- Pitch joint 1 -->
        <joint name="${name}_joint_2" type="revolute">
            <parent link="${name}_limb_link1"/>
            <child link="${name}_limb_link2"/>
            <origin xyz="0 0 0.0875" rpy="0 0 0"/>
            <axis xyz="0 -1 0"/>
            <limit effort="10" lower="-1.57" upper="1.57" velocity="1.0"/>
        </joint>

        <!-- Link 2 -->
        <link name="${name}_limb_link2">
            <visual>
                <!-- <origin xyz="0 0 0.14" rpy="0 0 0"/> -->
                <origin xyz="0 0 0" rpy="${-pi/2} 0 0"/>
                <geometry>
                    <mesh filename="package://urdf_tutorial/stl/limb_body.stl" scale="0.001 0.001 0.001"/> 
                    <!-- <cylinder length="0.28" radius="0.05"/> -->
                </geometry>
                <material name="white"/>
            </visual>
        </link>

        <!-- Pitch joint 2 -->
        <joint name="${name}_joint_3" type="revolute">
            <parent link="${name}_limb_link2"/>
            <child link="${name}_limb_link3"/>
            <origin xyz="0 0 0.28" rpy="0 0 ${pi}"/>
            <axis xyz="0 -1 0"/>
            <limit effort="10" lower="-1.57" upper="1.57" velocity="1.0"/>
        </joint>

        <!-- Link 3 -->
        <link name="${name}_limb_link3">
            <visual>
                <origin xyz="0 0 0" rpy="0 ${-pi/2} ${pi/2}" />
                <geometry>
                    <mesh filename="package://urdf_tutorial/stl/limb_pitch_resize.stl" scale="0.001 0.001 0.001"/> 
                    <!-- <cylinder length="${0.001*87.5}" radius="0.05"/> -->
                </geometry>
                <material name="white"/>
            </visual>
        </link>

        <!-- Roll joint 2 -->
        <joint name="${name}_joint_4" type="revolute">
            <parent link="${name}_limb_link3"/>
            <child link="${name}_limb_end_effector"/>
            <origin xyz="0 0 0.1375" rpy="0 0 0"/>
            <axis xyz="0 0 1"/>
            <limit effort="10" lower="-1.57" upper="1.57" velocity="1.0"/>
        </joint>

        <!-- End effector -->
        <link name="${name}_limb_end_effector">
            <visual>
                <origin xyz="0 0 0" rpy="${pi/2} 0 0" />
                <geometry>
                    <mesh filename="package://urdf_tutorial/stl/limb_roll_resize.stl" scale="0.1 0.1 0.1"/> 
                    <!-- <sphere radius="0.05"/> -->
                </geometry>
                <material name="silver"/>
            </visual>
        </link>
    </xacro:macro>

    <!-- Instantiate the limb macro -->


    <!-- Instantiate the limb macro -->
    <!-- マクロの呼び出しを追加 -->
    <!-- <xacro:limb name="arm" base_frame="base_link" r="0" p="0" y="0"/> -->


</robot>